@media screen and (max-width: 500px) {
    .fondations {
        font-size: 48px;
    }

    #coeur {
        width: 300px;
        height: 200px;
    }

    li {
        width: 40%;
    }

    ul {
        display: inline-block;
    }
}

@media screen and (max-width: 340px) {
    .fondations {
        font-size: 30px;
    }
}

@media screen and (max-width: 540px) {
    #proverbe_text {
        font-size: 25px;
    }
}

@media screen and (max-width: 989px) {
    #haut_fonda {
        margin-top: -90px;
               }
}



ul {
    display: inline-block;

}

li {
    margin-top: 30px;
    color: black;
    font-size: 16px;
    font-family: "Helvetica Neue - Thin";
}

#placement_image {
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
    margin-bottom: -10px;

}

li:hover {
    border-bottom: 4px solid #8ea97a;

}

#banniere {
    height: 865px;
    background-image: url('../img/Photo_OK.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

#overlay1 {
    position: absolute;
    background: black;
    height: 865px;
    width: 100%;
    opacity: 0.45;
    z-index: 1;
}

#overlay2 {
    position: absolute;

    height: 865px;
    width: 100%;
    color: white;
    z-index: 2;
}

#agence_titre {
    margin-top: 300px;
    font-size: 65px;
    font-family: "Kravitz";
    font-weight: bold;
}

#soustitre {
    font-size: 18px;
    font-family: "Helvetica Neue";
}

#headers .row {
    text-align: center;

}

@font-face {
    font-family: "Kravitz";
    src: url(../kravitz/KRAVITZ_.TTF) format("truetype");
}

@font-face {
    font-family: "Helvetica Neue - Thin";
    src: url('../helvetica/Helvetica Neue Thin/HelveticaNeue-Thin.otf') format("truetype");
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../helmet/helmet-1.0/Helmet-Regular.ttf) format("truetype");
}

* {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.fondations {
    color: #92ab77;
}

#titre_agence {
    font-size: 42px;
    font-weight: 300;
    font-family: "Helvetica Neue";
    margin-top: 124px;
}

.conseil {
    font-family: "Helvetica Neue";
    font-weight: bold;
}

#texte_agence {
    color: #605a64;
    font-family: "Helvetica Neue - Thin";
    font-size: 13px;
    font-weight: 400;
    margin-top: 120px;
}

#coeur {
    margin-top: 80px;

}

#collab {
    background-color: rgb(245, 245, 245);
}

#colcoeur {
    display: flex;
    justify-content: center;
}

#accompagne_titre {
    color: #1d1b1e;
    font-family: "Helvetica Neue - Thin";
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

#kyo_titre {
    color: #92ab77;
    font-family: Kravitz;
    font-size: 14px;
    font-weight: bold;
    line-height: 62px;
    text-transform: uppercase;
    text-align: center;
}

.bloc {

    height: 276px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    margin-top: 20px;
}

.bloc2 {

    padding-left: 37px;
    padding-right: 20px;

}

#bloc_titre {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}

#bloc_titre2 {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}

#bloc_titre3 {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}


hr {
    width: 41px;
    height: 3px;
    background-color: #92ab77;
    margin-top: -30px;
}

#text_bloc {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: -17px;
}

#text_bloc2 {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: -17px;
}

#text_bloc3 {
    color: black;
    font-family: "Helvetica Neue - Thin";
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: -17px;
}

.bloc:hover {
    background-color: #92ab77;

}

.bloc:hover #text_bloc {
    color: white;
}

.bloc:hover #bloc_titre {
    color: white;
}

.bloc:hover #text_bloc2 {
    color: white;
}

.bloc:hover #bloc_titre2 {
    color: white;
}

.bloc:hover #text_bloc3 {
    color: white;
}

.bloc:hover #bloc_titre3 {
    color: white;
}

.bloc_collab {
    padding-bottom: 80px;
}

#proverbe {
    background-image: url(../img/savane.png);
    background-size: cover;
    background-position: center;
    height: 444px;
}

.proverbe_text {
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    position: absolute;
    margin-top: 150px;
}

#image_proverbe {
    position: absolute;
    opacity: 0.3;
    margin-top: 110px;
    left: 70px;
}

#fonda_bloc {
    padding-bottom: 80px;
}

#titre_fonda {
    color: #181514;
    font-family: "Helvetica Neue";
    font-size: 42px;
    margin-top: 100px;
}

#text_fonda {
    color: #605a64;
    font-family: "Helvetica Neue - Thin";
    font-size: 13px;
    font-weight: 400;
    margin-top: 60px;
}



.taille_icon {
    border: 1px solid #7c7c7c;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    color: white;
    background-color: initial;
}

#taille_bloc {
    margin-top: 99px;
    width: 305px;
    height: 292px;
    z-index: 400;

}
#haut_fonda{
    position: absolute;
    top: 99px;
    height: 292px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#prenom_fonda {
    color: #8ea97a;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;

    position: absolute;
    z-index: 200;
}

#mot_fonda {
    color: black;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 30px;
    position: absolute;
    z-index: 100;
}
#logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.trois {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

#kyo_bloc {
    color: #92ab77;
    font-family: Kravitz;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
}

#kyo_text {
color: #181514;
font-family: "Helvetica Neue - Thin";
font-size: 42px;
font-weight: bold;
text-align: center;
}


.bloc1 {
    background-color: #ffffff;
    opacity: 0.9;
    margin-left: 40px;
    width: 308px;
    height: 264px;
}

.titre_bloc {
    color: #92ab77;
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.text_bloc{
    color: #605a64;
    font-family: "Helvetica Neue - Thin";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.bloc1:hover {
    background-color: #92ab77;
}

.bloc1:hover .titre_bloc {
    color: white;
}

.bloc1:hover .text_bloc {
    color: white;
}
